In [ ]:
# OpenAI Key
OPENAI_API_KEY = "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"

In [ ]:
# 필요한 패키지를 설치하는 명령
!pip install -q grobid-client langchain openai faiss-cpu PyPDF2 tiktoken

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 15.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.5/76.5 kB 5.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.6/17.6 MB 50.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 232.6/232.6 kB 21.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 45.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.6/60.6 kB 6.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 4.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 84.2/84.2 kB 6.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.4/49.4 kB 5.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 68.3/68.3 kB 7.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 54.9/54.9 kB 5.7 MB/s eta 0:00:00
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
jsonschema 4.19.0 requires attrs>=22.2.0, but you have attrs 21.4.0 which is incompatible.
referencing 0.30.2 requires attrs>=22.2.0, but you have attrs 21.4.0 which is incompatible.

In [ ]:
# 필요한 패키지를 import 한다.
import os
import openai
from PyPDF2 import PdfReader
from langchain.embeddings.openai import OpenAIEmbeddings
from langchain.text_splitter import CharacterTextSplitter
from langchain.vectorstores import ElasticVectorSearch, Pinecone, Weaviate, FAISS

os.environ["OPENAI_API_KEY"] = OPENAI_API_KEY

In [ ]:
# PDF 파일을 읽어온다.
reader = PdfReader("Demian.pdf")

raw_text = ""

for i, page in enumerate(reader.pages):
  text = page.extract_text()

  if text:
    raw_text += text

raw_text = raw_text.replace("Downloaded from https://www.holybooks.com"," ")
print(raw_text[:1000])

DEMIAN •
 HERMANN
HESSE • DEMIAN
*
Translated by W. J. Strachan
London
 Prologue
I cannot tell my story without going a long way back.
If it were possible I would go back much farther still to
the very earliest years of my childhood and beyond them
to my family origins.
When poets write novels they are apt to behave as if
they were gods, with the power to look beyond and com­
prehend any human story and serve it up as if the
Almighty himself, omnipresent, were relating it in all
its naked truth. That I am no more able to do than the
poets. But my story is more important to me than any
poet's story to him, for it is my own-and it is the story
of a huffian being-not an invented, idealised person
but a real, live, uniq:-e being. What constitutes a real,
live human being is more of a mystery than ever these
days, and men-each one of whom is a valuable, unique
experiment on the part of nature-are shot down whole­
sale. If, however, we were not something more than
uniqu

In [ ]:
# PDF의 전체 내용을 요약한다.
from langchain import OpenAI
from langchain.chains import AnalyzeDocumentChain
from langchain.chains.summarize import load_summarize_chain

llm = OpenAI(temperature=0)
summary_chain = load_summarize_chain(llm, chain_type="map_reduce")
summarize_document_chain = AnalyzeDocumentChain(combine_docs_chain=summary_chain)

In [ ]:
summarize_document_chain.run(raw_text)

' Demian is a novel by Hermann Hesse about a young man\'s journey to self-discovery. He meets various people along the way who help him to understand the power of thought and the importance of individual stories. He eventually meets Demian, who teaches him about the "mark of Cain" and the spirit of Europe. Sinclair is inspired to remain faithful to his fate and finds his destiny within himself. He is then initiated into the secret of those who bear the \'sign\' on their brow.'

# How much?
- text-davinci,
- 6 requests
- 101,611 prompt + 8,930 completion = 110,541 tokens
- $0.47 == ₩611

In [ ]:
from langchain.chains.question_answering import load_qa_chain
from langchain.chat_models import ChatOpenAI

model = ChatOpenAI(model="gpt-3.5-turbo")
qa_chain = load_qa_chain(model, chain_type="map_reduce")
qa_document_chain = AnalyzeDocumentChain(combine_docs_chain=qa_chain)

In [ ]:
qa_document_chain.run(
    input_document = raw_text,
    question = "싱클레어를 괴롭힌 사람은?"
)

'싱클레어를 괴롭힌 사람은 Franz Kromer입니다.'

In [ ]:
qa_document_chain.run(
    input_document = raw_text,
    question = "싱클레어는 데미안을 어디서 어떻게 만났지?"
)

'The given portion of the document does not provide any information about where and how Singlair met Demian. Therefore, it is not possible to answer the question.'

In [ ]:
qa_document_chain.run(
    input_document = raw_text,
    question = "데미안의 외모를 묘사해봐"
)

'제가 확인한 문서에는 데미안의 외모에 대한 구체적인 묘사가 없습니다.'

# CSV 검색 또는 Aggregation

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/kairess/toy-datasets/master/titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
from langchain.agents import create_pandas_dataframe_agent
agent = create_pandas_dataframe_agent(OpenAI(model="text-davinci-003",
                                     temperature=0),
                              df,
                              verbose=True)

In [ ]:
agent.run("how many rows are there?")

> Entering new AgentExecutor chain...
Thought: I need to count the number of rows
Action: python_repl_ast
Action Input: df.shape[0]
Observation: 891
Thought: I now know the final answer
Final Answer: There are 891 rows.

> Finished chain.

'There are 891 rows.'

In [ ]:
agent.run("행이 몇 개지?")

> Entering new AgentExecutor chain...
Thought: 데이터프레임의 크기를 확인해야한다.
Action: python_repl_ast
Action Input: df.shape
Observation: (891, 12)
Thought: 행의 개수는 첫 번째 숫자입니다.
Final Answer: 891개

> Finished chain.

'891개'

In [ ]:
df.shape

(891, 12)

In [ ]:
agent.run("승객들의 평균 연령은?")

> Entering new AgentExecutor chain...
Thought: 나는 이 데이터 프레임의 평균 연령을 찾아야한다.
Action: python_repl_ast
Action Input: df['Age'].mean()
Observation: 29.69911764705882
Thought: 나는 이제 최종 답을 알게되었다.
Final Answer: 승객들의 평균 연령은 29.7세입니다.

> Finished chain.

'승객들의 평균 연령은 29.7세입니다.'

In [ ]:
agent.run("여자 승객들의 평균 연령은?")

> Entering new AgentExecutor chain...
Thought: 나는 여자 승객들의 연령을 찾아야한다.
Action: python_repl_ast
Action Input: df[df['Sex'] == 'female']['Age'].mean()
Observation: 27.915708812260537
Thought: 이것이 여자 승객들의 평균 연령이다.
Final Answer: 여자 승객들의 평균 연령은 27.92세입니다.

> Finished chain.

'여자 승객들의 평균 연령은 27.92세입니다.'

In [ ]:
agent.run("객실 등급과 성별에 따른 생존자 수를 계산해줘")

> Entering new AgentExecutor chain...
Thought: 먼저 객실 등급과 성별로 그룹화해야 할 것 같아
Action: python_repl_ast
Action Input: df.groupby(['Pclass', 'Sex'])['Survived'].sum()
Observation: Pclass  Sex
1       female    91
        male      45
2       female    70
        male      17
3       female    72
        male      47
Name: Survived, dtype: int64
Thought: 이제 최종 답을 알 수 있어
Final Answer: 객실 등급과 성별에 따른 생존자 수는 각각 91명, 45명, 70명, 17명, 72명, 47명입니다.

> Finished chain.

'객실 등급과 성별에 따른 생존자 수는 각각 91명, 45명, 70명, 17명, 72명, 47명입니다.'